<!DOCTYPE html>
<html>

<head>
  <title>Order Dashboard</title>
  <link rel="stylesheet" type = "text/css" href="{{url_for('static',filename='style.css')}}">
  <!-- this includes you API key -->
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPMAHRoTOroLYWZfK8dY2noG8XkPhmnis&callback=initMap"
    type="text/javascript"></script>
  <script type="text/javascript" src="../static/charts_loader.js"></script>
  <script type="text/javascript" src="../static/socketio.js"></script>
  <script>
    var socket = io.connect('http://' + document.domain + ':' + location.port + '/client');
    google.charts.load('current', { 'packages': ['geochart'] });
    google.charts.setOnLoadCallback(drawMap);
    rawData = [
      ['country_code', 'value'],
    ];
    var value_dict = {};
    var counter_dict = {};

    //function to drwa map (google api)
    function drawMap() {

      var data_counter = new google.visualization.DataTable();
      data_counter.addColumn('string','Country');
      data_counter.addColumn('number','Number of orders');

      var data_value = new google.visualization.DataTable();
      data_value.addColumn('string','Country');
      data_value.addColumn('number','Value of order');

      var options_value = {
        colorAxis: {colors: ['#FFFFFF','EFBFC6','FF7F92','FF4C66','FF0025']},
        backgroundColor:{stroke:'#202020', fill:'#202020'},
        datalessRegionColor: '#404040'
      };

      var options_counter = {
        colorAxis: {colors: ['#FFFFFF','#CBDCC8','#98B992','#64965C','#317326']},
        backgroundColor:{stroke:'#202020', fill:'#202020'},
        datalessRegionColor: '#404040'
      };

      data = google.visualization.arrayToDataTable(rawData);
      var options = {
        displayMode: 'markers',
        colorAxis: { colors: '#ffff00' },
        backgroundColor: { stroke: '#202020', fill: '#202020' },
        datalessRegionColor: '#404040'
      };

      var map = new google.visualization.GeoChart(document.getElementById('regions_div'), {});

      daMap = {
        'GB': 'United Kingdom', 'JP': 'Japan', 'FR': 'France', 'MO': 'Macao', 'IT': 'Italy', 'SE': 'Sweden', 'HK': 'Hong Kong',
        'TW': 'Taiwan', 'US': 'United States of America', 'RU': 'Russian', 'NL': 'Netherlands', 'BA': 'Bosnia and Herzegovina',
        'FI': 'Finland', 'ES': 'Spain', 'SG': 'Singapore', 'KG': 'Kyrgyzstan', 'AU': 'Australia', 'IN': 'India',
        'AT': 'Austria', 'DK': 'Denmark', 'PT': 'Portugal', 'IE': 'Ireland', 'AZ': 'Azerbaijan', 'KR': 'South Korea',
        'CY': 'Cyprus', 'LK': 'Sri Lanka', 'HU': 'Hungary', 'DE': 'Germany', 'BG': 'Bulgaria', 'RO': 'Romania', 'BE': 'Belgium',
        'NO': 'Norway', 'CN': 'China', 'NZ': 'New Zealand', 'LV': 'Latvia', 'CZ': 'Czechia', 'GR': 'Greece', 'LU': 'Luxembourg', 'AE': 'United Arab Emirates',
        'SA': 'Saudi Arabia', 'MY': 'Malaysia', 'MT': 'Malta', 'CH': 'Switzerland', 'PL': 'Poland', 'LT': 'Lithuania', 'SK': 'Slovakia'
      }

      window.setInterval(function () {
        data = google.visualization.arrayToDataTable(rawData);
        map.draw(data, options);
      }, 20000)

      window.setInterval(function(){
        for (var key in value_dict) {data_value.addRow([key, value_dict[key]])};
        map.draw(data_value, options_value);
      },40000);

      window.setInterval(function(){
        for (var key in counter_dict) {data_counter.addRow([key, counter_dict[key]])};
        map.draw(data_counter, options_counter);
      },60000);

      //map.draw(data, options);
      socket.on('my_response', function (msg) {

        if (msg.accumulate_value != null) {
          var i;
          for(i = 0; i < (msg.accumulate_value).length; i++){
            value_dict[msg.accumulate_value[i]['country_code']] = msg.accumulate_value[i]['value'];
          };
          for(i = 0; i < (msg.accumulate_order).length; i++){
            counter_dict[msg.accumulate_order[i]['country_code']] = msg.accumulate_order[i]['total_order_number'];
          };
          for (var key in value_dict) {data_value.addRow([key, value_dict[key]])};
          map.draw(data_value, options_value);
        }
        else {
          if (value_dict[msg.code] != undefined) { value_dict[msg.code] += msg.count }
          else {value_dict[msg.code] = msg.count};
          if (counter_dict[msg.code] != undefined) {counter_dict[msg.code] += 1}
          else {counter_dict[msg.code] = 1};
          rawData.push([daMap[msg.code], msg.count]);
          window.setInterval(function () {
            if (rawData.length > 50) { rawData.splice(1, 10) }
          }, 400);
        };
        console.log(msg);
      });
    };

    var messages = [];
    var colour_to_brand_dict = {
      "myprotein": "#33ccff", "lfint": "#cc99ff", "zavvi": "#ff9999", "beautyexpert": "#99ff99"
    };
    socket.on('my_response', function (msg) {
      if (messages.length < 10) {
        var message_string;
        message_string = "<span style= \"font-weight:500; color:white;\">" + msg.code + "</span>" + "&nbsp &nbsp &nbsp" + "<span style= \"color:" + colour_to_brand_dict[msg.channel] + "\">" + msg.channel + "</span>" + " " + "£" + msg.count + '\n';
        // document.getElementById("test").innerHTML = message_string;
        messages.push(message_string);
      }

      else {
        var messages_recent = messages.join("<br/>");
        document.getElementById("log_entries").innerHTML = messages_recent;
        messages.shift();

      }
    });

    window.setInterval(function(){
      var total_order_value = 0, total_no_of_order = 0;
      var data_string;
      for (var key in value_dict) {total_order_value += value_dict[key]}
      for (var key in counter_dict) {total_no_of_order += counter_dict[key]}
      data_string = "Total number of order: " + total_no_of_order  + "<br/>"
                    + "Average order value: £" + (total_order_value/total_no_of_order).toFixed(2) ;
      document.getElementById("data").innerHTML = data_string;
    },5000);
  </script>
</head>

<body style="margin-left:0; margin-right:0; margin-top:0; margin-bottom:0;">
  <div id="all">
    <div id="regions_div" style=" margin-left:0; margin-right:0; "></div>
    <div class="ex1">
      <p>
        <span style="font-weight:400; color:#808080;"> Average ping/pong latency:</span> <b><span id="ping-pong"></span>ms</b> <br>
        <p id="data"></p>
      </p>
      <p id="log_entries"></p>
    </div>
    <!-- <div id="watermark"></div>
     <img src="THG_LOG.png" height="400" />
      </div> -->

    <!-- <h1>Flask-SocketIO Data Push</h1>
  <p>Async mode is: <b>{{ async_mode }}</b></p>

  <div id="regions_div" style="width: 900px; height: 500px"></div> -->

</body>


</html>
