<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
      google.charts.load('current', {
        'packages':['geochart'],
        // Note: you will need to get a mapsApiKey for your project.
        // See: https://developers.google.com/chart/interactive/docs/basic_load_libs#load-settings
        'mapsApiKey': 'AIzaSyD-9tSrke72PouQMnMX-a7eZSW0jkFMBWY'
      });
      google.charts.setOnLoadCallback(drawRegionsMap);
      // var incoming = {{orders}}; //a list
      // document.getElementById("demo").innerHTML = "Hello JavaScript";
      var data2 = {'CN':200,'GB':300,'US':400};
      function drawRegionsMap() {
        var data = new google.visualization.DataTable();
        // data.addColumn['Country','value'];
        data.addColumn('string','Country');
        data.addColumn('number','value');
        for (var key in data2) {data.addRow([key, data2[key]])};
        // data.addRows([ ['CN',200], ['GB',300] ]);
        // {% for order in incoming %}
        // [ "{{order['country_code']}}",{{order['gbp_value']}} ],
        // {% endfor %}
        // ]);
        var options = {
          colorAxis: {colors: ['#FFFFFF','#CBDCC8','#98B992','#64965C','#317326']}
        };

        var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    <div id="regions_div" style="width: 900px; height: 500px"></div>
    <!-- <p id="demo"></p>
    <script>
      var testdict = {'GB':3,'US':2};
      document.getElementById("demo").innerHTML = testdict['cz'];
    </script> -->
  </body>
</html>
